<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my one month python project</h1>
				<p>My name is Kevin Fox. Systems Analyst at a bank. </p>
				<a href="{{ url_for('index') }}">Back to home page</a>
			</div>
		</div>
	</body>
</html>